body {
  font-family: Arial, sans-serif;
}

.card img {
  height: 200px;
  object-fit: cover;
}
body, html, #root, .App {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container-fluid {
  --bs-gutter-x: 0;
}